<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{specific_superhero.superhero_name}} details</title>
</head>
<body>
<h1>Details about {{specific_superhero.superhero_name}}</h1>
<ul>
    <li><h2>Name: {{specific_superhero.superhero_name}} </h2></li>
    <li><h2>Alter Ego: {{specific_superhero.alter_ego_name}} </h2></li>
    <li><h2>Primary Ability: {{specific_superhero.primary_ability}} </h2></li>
    <li><h2>Alternate Ability: {{specific_superhero.alternate_ability}} </h2></li>
    <li><h2>Catchphrase: {{specific_superhero.catchphrase}} </h2></li>
</ul>
</body>
</html>